@import "compass/css3";

$media-retina: "only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx)";

@mixin retinabg($url, $url2x, $size, $position, $repeat) {
    background-image: url($url);
    background-repeat: $repeat;
    background-position: $position;
    background-size: $size;
    @media #{$media-retina} {
        background-image: url($url2x);
        background-size: $size;
    }
}

.tiles{
	&:after,
	&:before{
		content:"";
		width:100%;
		height:0;
		display:block;
		clear:both;	 
	}
	
	.tiles__item{
		float:left;
		width:0;
		height:0;
		padding:12.5%;
		position:relative;	
		overflow:hidden; 
		font:inherit;
		color:inherit;
		text-decoration:none;
		
		img{
			width:100%;
			height:100%;
			position:absolute;
			left:0;
			top:0;
			z-index:1;
			overflow: hidden;
			display:block;
			
			&.is-horizontal{
				width:auto;
				height:100%;	
			}
			&.is-vertical{
				width:100%;
				height:auto;	
			}
		}
		.tiles__item-share{
			position:absolute;
			right:0;
			top:0;
			z-index:2;
			padding:1%;
			width:20px;
			
			.tiles__item-share-item{
				@include retinabg("../images/social.png", "../images/social@2x.png", 944px 20px, left center, no-repeat);
				width:20px;
				height:20px;
				float:left;
				margin:0 0 5px 0;
				cursor:pointer;
				@include opacity(0.5);
				@include transition-property(opacity);
				@include transition-duration(0.5s);
				
				&:hover{
					@include opacity(1);	
				}
				
				&.is-facebook {
					background-position: 0 0;
				}
				&.is-twitter {
					background-position: -21px 0;
				}
				&.is-vkontakte {
					background-position: -84px 0;
				}
				&.is-odnoklassniki {
					background-position: -63px 0;
				}
				&.is-google {
					background-position: -126px 0;
				}
				&.is-yahoo {
					background-position: -651px 0;
				}
				&.is-misterwong {
					background-position: -903px 0;
				}
				&.is-moimir {
					background-position: -147px 0;
				}
				&.is-friendfeed {
					background-position: -882px 0;
				}
				&.is-yandex {
					background-position: -567px 0;
				}
				&.is-webmoney {
					background-position: -924px 0;
				}
				&.is-vkrugu {
					background-position: -504px 0;
				}
				&.is-juick {
					background-position: -735px 0;
				}
				&.is-pinterest {
					background-position: -105px 0;
				}
				&.is-myspace {
					background-position: -252px 0;
				}
				&.is-googlebookmark {
					background-position: -630px 0;
				}
				&.is-stumbleupon {
					background-position: -231px 0;
				}
				&.is-instapaper {
					background-position: -399px 0;
				}
				&.is-email {
					background-position: -462px 0;
				}
				&.is-springpad {
					background-position: -210px 0;
				}
				&.is-print {
					background-position: -483px 0;
				}
				&.is-linkedin {
					background-position: -756px 0;
				}
				&.is-readability {
					background-position: -378px 0;
				}
				&.is-pinme {
					background-position: -546px 0;
				}
				&.is-surfingbird {
					background-position: -336px 0;
				}
				&.is-webdiscover {
					background-position: -798px 0;
				}
				&.is-memori {
					background-position: -693px 0;
				}
				&.is-livejournal {
					background-position: -168px 0;
				}
				&.is-blogger {
					background-position: -294px 0;
				}
				&.is-liveinternet {
					background-position: -189px 0;
				}
				&.is-evernote {
					background-position: -420px 0;
				}
				&.is-bobrdobr {
					background-position: -357px 0;
				}
				&.is-moemesto {
					background-position: -672px 0;
				}
				&.is-formspring {
					background-position: -273px 0;
				}
				&.is-yazakladki {
					background-position: -588px 0;
				}
				&.is-moikrug {
					background-position: -609px 0;
				}
				&.is-bookmark {
					background-position: -441px 0;
				}
				&.is-digg {
					background-position: -315px 0;
				}
				&.is-tumblr {
					background-position: -42px 0;
				}
				&.is-delicious {
					background-position: -525px 0;
				}
			}	
		}
		
		&.is-animate-zoom{
			img{
				@include transition-property(width,height,left,top);
				@include transition-duration(0.5s);
			}
			&:hover img{
				left:-5%;
				top:-5%;
				width:110%;
				height:110%;	
				
				
				&.is-horizontal{
					width:auto;
					height:110%;	
				}
				&.is-vertical{
					width:110%;
					height:auto;	
				}
			}
		}
		&.is-animate-share{
			.tiles__item-share{	
				right:-30px;
				@include transition-property(right);
				@include transition-duration(0.5s);
				
				.tiles__item-share-item{
					@include opacity(0);
					@include transition-property(opacity);
					@include transition-duration(0.5s);
				}
			}
			&:hover .tiles__item-share{
				right:0;
				
				.tiles__item-share-item{
					@include opacity(0.5);
					
					&:hover{
						@include opacity(1);	
					}
				}
			}
		}
	}
	
	&.is-auto-fix{
		position:relative;
		width:100%;
		height:auto;	
		
		.tiles__item{
			position:absolute;
			left:0;
			top:0;	
			z-index:2;
			
			&.is-fixer{
				position:relative;
				width:100%;
				height:0;	
				z-index:1;
			}
		}
	}	
}